:root, [data-bs-theme=light] {
  --bs-primary: #f80752;
  --bs-primary-rgb: 248,7,82;
  --bs-primary-text-emphasis: #630321;
  --bs-primary-bg-subtle: #FECDDC;
  --bs-primary-border-subtle: #FC9CBA;
  --bs-secondary: #4951ff;
  --bs-secondary-rgb: 73,81,255;
  --bs-secondary-text-emphasis: #1D2066;
  --bs-secondary-bg-subtle: #DBDCFF;
  --bs-secondary-border-subtle: #B6B9FF;
  --bs-danger: #f80752;
  --bs-danger-rgb: 248,7,82;
  --bs-danger-text-emphasis: #630321;
  --bs-danger-bg-subtle: #FECDDC;
  --bs-danger-border-subtle: #FC9CBA;
  --bs-light: #e6e6e6;
  --bs-light-rgb: 230,230,230;
  --bs-light-text-emphasis: #5C5C5C;
  --bs-light-bg-subtle: #FAFAFA;
  --bs-light-border-subtle: #F5F5F5;
  --bs-dark: #14121f;
  --bs-dark-rgb: 20,18,31;
  --bs-dark-text-emphasis: #08070C;
  --bs-dark-bg-subtle: #D0D0D2;
  --bs-dark-border-subtle: #A1A0A5;
  --bs-body-color: #e6e6e6;
  --bs-body-color-rgb: 230,230,230;
  --bs-secondary-color: rgba(230,230,230,0.75);
  --bs-secondary-color-rgb: 230,230,230,0.75;
  --bs-tertiary-color: rgba(230,230,230,0.5);
  --bs-tertiary-color-rgb: 230,230,230,0.5;
  --bs-body-bg: #14121f;
  --bs-body-bg-rgb: 20,18,31;
  --bs-body-font-family: Roboto, sans-serif;
  --bs-link-color: #f80752;
  --bs-link-color-rgb: 248,7,82;
  --bs-link-hover-color: #f80752;
  --bs-link-hover-color-rgb: 248,7,82;
  --bs-border-width: 1px;
  --bs-focus-ring-color: rgba(248,7,82,0.31);
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F92C6C;
  --bs-btn-hover-border-color: #F92063;
  --bs-btn-focus-shadow-rgb: 37,1,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F93975;
  --bs-btn-active-border-color: #F92063;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f80752;
  --bs-btn-disabled-border-color: #f80752;
}

.btn-outline-primary {
  --bs-btn-color: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-focus-shadow-rgb: 248,7,82;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f80752;
  --bs-btn-hover-border-color: #f80752;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f80752;
  --bs-btn-active-border-color: #f80752;
  --bs-btn-disabled-color: #f80752;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f80752;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4951ff;
  --bs-btn-border-color: #4951ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3E45D9;
  --bs-btn-hover-border-color: #3A41CC;
  --bs-btn-focus-shadow-rgb: 228,229,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3A41CC;
  --bs-btn-active-border-color: #373DBF;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4951ff;
  --bs-btn-disabled-border-color: #4951ff;
}

.btn-outline-secondary {
  --bs-btn-color: #4951ff;
  --bs-btn-border-color: #4951ff;
  --bs-btn-focus-shadow-rgb: 73,81,255;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4951ff;
  --bs-btn-hover-border-color: #4951ff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4951ff;
  --bs-btn-active-border-color: #4951ff;
  --bs-btn-disabled-color: #4951ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4951ff;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F92C6C;
  --bs-btn-hover-border-color: #F92063;
  --bs-btn-focus-shadow-rgb: 37,1,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F93975;
  --bs-btn-active-border-color: #F92063;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f80752;
  --bs-btn-disabled-border-color: #f80752;
}

.btn-outline-danger {
  --bs-btn-color: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-focus-shadow-rgb: 248,7,82;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f80752;
  --bs-btn-hover-border-color: #f80752;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f80752;
  --bs-btn-active-border-color: #f80752;
  --bs-btn-disabled-color: #f80752;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f80752;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e6e6e6;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C4C4C4;
  --bs-btn-hover-border-color: #B8B8B8;
  --bs-btn-focus-shadow-rgb: 35,35,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B8B8B8;
  --bs-btn-active-border-color: #ADADAD;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e6e6e6;
  --bs-btn-disabled-border-color: #e6e6e6;
}

.btn-outline-light {
  --bs-btn-color: #e6e6e6;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-focus-shadow-rgb: 230,230,230;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e6e6e6;
  --bs-btn-hover-border-color: #e6e6e6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e6e6e6;
  --bs-btn-active-border-color: #e6e6e6;
  --bs-btn-disabled-color: #e6e6e6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e6e6e6;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #14121f;
  --bs-btn-border-color: #14121f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #110F1A;
  --bs-btn-hover-border-color: #100E19;
  --bs-btn-focus-shadow-rgb: 220,219,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #100E19;
  --bs-btn-active-border-color: #0F0E17;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #14121f;
  --bs-btn-disabled-border-color: #14121f;
}

.btn-outline-dark {
  --bs-btn-color: #14121f;
  --bs-btn-border-color: #14121f;
  --bs-btn-focus-shadow-rgb: 20,18,31;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #14121f;
  --bs-btn-hover-border-color: #14121f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #14121f;
  --bs-btn-active-border-color: #14121f;
  --bs-btn-disabled-color: #14121f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #14121f;
}

[data-bs-theme=dark] {
  --bs-primary: #f80752;
  --bs-primary-rgb: 248,7,82;
  --bs-primary-text-emphasis: #FB6A97;
  --bs-primary-bg-subtle: #320110;
  --bs-primary-border-subtle: #950431;
  --bs-secondary: #4951ff;
  --bs-secondary-rgb: 73,81,255;
  --bs-secondary-text-emphasis: #9297FF;
  --bs-secondary-bg-subtle: #0F1033;
  --bs-secondary-border-subtle: #2C3199;
  --bs-light: #e6e6e6;
  --bs-light-rgb: 230,230,230;
  --bs-light-text-emphasis: #F0F0F0;
  --bs-light-bg-subtle: #2E2E2E;
  --bs-light-border-subtle: #8A8A8A;
  --bs-dark: #14121f;
  --bs-dark-rgb: 20,18,31;
  --bs-dark-text-emphasis: #727179;
  --bs-dark-bg-subtle: #040406;
  --bs-dark-border-subtle: #0C0B13;
  --bs-body-color: #e6e6e6;
  --bs-body-color-rgb: 230,230,230;
  --bs-secondary-color: rgba(230,230,230,0.75);
  --bs-secondary-color-rgb: 230,230,230,0.75;
  --bs-tertiary-color: rgba(230,230,230,0.5);
  --bs-tertiary-color-rgb: 230,230,230,0.5;
  --bs-body-bg: #14121f;
  --bs-body-bg-rgb: 20,18,31;
  --bs-body-font-family: Roboto, sans-serif;
  --bs-link-color: #f80752;
  --bs-link-color-rgb: 248,7,82;
  --bs-link-hover-color: #f80752;
  --bs-link-hover-color-rgb: 248,7,82;
  --bs-border-width: 1px;
  --bs-focus-ring-color: rgba(248,7,82,0.31);
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F92C6C;
  --bs-btn-hover-border-color: #F92063;
  --bs-btn-focus-shadow-rgb: 37,1,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F93975;
  --bs-btn-active-border-color: #F92063;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f80752;
  --bs-btn-disabled-border-color: #f80752;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #f80752;
  --bs-btn-border-color: #f80752;
  --bs-btn-focus-shadow-rgb: 248,7,82;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f80752;
  --bs-btn-hover-border-color: #f80752;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f80752;
  --bs-btn-active-border-color: #f80752;
  --bs-btn-disabled-color: #f80752;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f80752;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4951ff;
  --bs-btn-border-color: #4951ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3E45D9;
  --bs-btn-hover-border-color: #3A41CC;
  --bs-btn-focus-shadow-rgb: 228,229,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3A41CC;
  --bs-btn-active-border-color: #373DBF;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4951ff;
  --bs-btn-disabled-border-color: #4951ff;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #4951ff;
  --bs-btn-border-color: #4951ff;
  --bs-btn-focus-shadow-rgb: 73,81,255;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4951ff;
  --bs-btn-hover-border-color: #4951ff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4951ff;
  --bs-btn-active-border-color: #4951ff;
  --bs-btn-disabled-color: #4951ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4951ff;
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e6e6e6;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C4C4C4;
  --bs-btn-hover-border-color: #B8B8B8;
  --bs-btn-focus-shadow-rgb: 35,35,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B8B8B8;
  --bs-btn-active-border-color: #ADADAD;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e6e6e6;
  --bs-btn-disabled-border-color: #e6e6e6;
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: #e6e6e6;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-focus-shadow-rgb: 230,230,230;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e6e6e6;
  --bs-btn-hover-border-color: #e6e6e6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e6e6e6;
  --bs-btn-active-border-color: #e6e6e6;
  --bs-btn-disabled-color: #e6e6e6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e6e6e6;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #14121f;
  --bs-btn-border-color: #14121f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #110F1A;
  --bs-btn-hover-border-color: #100E19;
  --bs-btn-focus-shadow-rgb: 220,219,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #100E19;
  --bs-btn-active-border-color: #0F0E17;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #14121f;
  --bs-btn-disabled-border-color: #14121f;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #14121f;
  --bs-btn-border-color: #14121f;
  --bs-btn-focus-shadow-rgb: 20,18,31;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #14121f;
  --bs-btn-hover-border-color: #14121f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #14121f;
  --bs-btn-active-border-color: #14121f;
  --bs-btn-disabled-color: #14121f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #14121f;
}

